<div class="container">
    <h1 class="container-title">Adicionar eventos</h1>
    <form action="/events/addevent" method="post" class="form-add">
        <div class="container-fields">
            <label for="name">Nome*: </label>
            <input class="textfields" type="text" id="name" name="name" required>
        </div>
        <div class="container-fields">
            <label for="description">Descrição: </label>
            <input class="textfields" type="text" id="description" name="description">
        </div>
        <div class="container-fields">
            <label for="date">Data: </label>
            <input class="textfields" type="datetime-local" id="date" name="date">
        </div>
        <div class="container-bttns">
            <input class="bttn-submit" type="submit" value="Confirmar">
        </div>
    </form>
</div>