<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/416685e231.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" id="menu">
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <a class="navbar-brand" href="/" style="justify-content: center; align-items: center;
    display: flex; color: aliceblue;">
                <span class="glyphicon glyphicon-earphone" style=" margin-right: 0.4em;"></span>
                    Agenda
            </a>
        </div>
        <ul class="nav navbar-nav" id="home-link">
            <li class="active"><a class="dropdown-toggle"  data-toggle="dropdown" href="">Contatos</a>
                <ul class="dropdown-menu">
                    <li><a href="/contacts/add">Adicionar</a></li>
                    <li><a href="/contacts/contacts">Lista</a></li>
                </ul>
            </li>
            <li class="active"><a class="dropdown-toggle"  data-toggle="dropdown" href="">Grupos</a>
                <ul class="dropdown-menu">
                    <li><a href="/groups/add">Adicionar</a></li>
                    <li><a href="/groups/groups">Lista</a></li>
                </ul>
            </li>
            <li class="active"><a class="dropdown-toggle"  data-toggle="dropdown" href="">Eventos</a>
                <ul class="dropdown-menu">
                    <li><a href="/events/add">Adicionar</a></li>
                    <li><a href="/events/events">Lista</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
    </nav>
    {{{body}}}
</body>
</html>