<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/416685e231.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-inverse" id="menu">
        <div class="container-fluid" id="nav-container">
            <div class="navbar-header" id="nav-header">
                <a class="navbar-brand" href="/" id="main-link">
                    <span class="glyphicon glyphicon-earphone" style=" margin-right: 0.4em;"></span>
                    Agenda
                </a>
            </div>
            <ul class="nav navbar-nav" id="home-link">
            {{#if session.userid}}
                <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href=""
                        id="dropdown-bttn">Contatos</a>
                    <ul class="dropdown-menu">
                        <li><a href="/contacts/add">Adicionar</a></li>
                        <li><a href="/contacts/contacts">Lista</a></li>
                    </ul>
                </li>
                <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href=""
                        id="dropdown-bttn">Grupos</a>
                    <ul class="dropdown-menu">
                        <li><a href="/groups/add">Adicionar</a></li>
                        <li><a href="/groups/groups">Lista</a></li>
                    </ul>
                </li>
                <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href=""
                        id="dropdown-bttn">Eventos</a>
                    <ul class="dropdown-menu">
                        <li><a href="/events/add">Adicionar</a></li>
                        <li><a href="/events/events">Lista</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="nav-right">
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                
                    <ul class="dropdown-menu" style="padding: 10px;">
                        <li><a href=""><span class="glyphicon glyphicon-cog" style="margin-bottom: 10px;"></span>
                                Configurações</a></li>
                        <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                    </ul>
                </li>
                {{else}}
                <li><a href="/users/login"></span> Login</a></li>
                <li><a href="/users/register"></span> Register</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
        {{#if messages.message}}
    <div class="message-container">
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}
    </div>
    {{{body}}}
</body>

</html>