    <div class="sub-container">
        <h1>Grupos</h1>
        <div class="models-container">
            {{#each groups}}
                <div>
                    <p><span class="bold"><a href="/groups/group/{{this.id}}" id="name-link">{{this.name}}</a></span></p>
                    <p>Descrição: {{this.description}}</p>
                    {{#if this.Contacts}}
                        <p>Contatos: 
                            {{#each this.Contacts}}
                                    <span style="margin-right: auto;">
                                        {{this.name}}
                                    </span>
                            {{/each}}
                        </p>
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <div class="bttn-links">
            <a id="bttn-contact" href="/groups/add">Adicionar grupos</a>
        </div>

    </div>