    <div class="container">
        <h1 class= "container-title" >Editar senha</h1>
        <form action="/users/editPassword" method="post" class="form-add">
            <div class="container-fields">
                <label for="password">Senha anterior*: </label>
                <input class="textfields" type="password" id="oldPassword" name="oldPassword" required>
            </div>
            <div class="container-fields">
                <label for="password">Nova senha*: </label>
                <input class="textfields" type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="container-fields">
                <label for="confirmPassord">Confirmar nova senha*: </label>
                <input class="textfields" type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="container-bttns">
                <input class="bttn-submit" type="submit" value="Confirmar">
            </div>
        </form>      
    </div>