<div class="container">
    <h1>Adicionar contato</h1>
    <div class="contacts">
        <form action="/contacts/addContact" method="post">
            <div class="container-fields">
                <label for="nome">Nome*: </label>
                <input class="textfields" type="text" id="nome" name="nome" required>
            </div>
            <div class="container-fields">
                <label for="fone">Telefone*: </label>
                <input class="textfields" type="number" id="fone" name="fone" required>
            </div>
            <div class="container-fields">
                <label for="email">E-mail: </label>
                <input class="textfields" type="email" id="email" name="email">
            </div>
            <div class="container-bttns">
                <input class="bttn-submit" type="submit" value="Confirmar">
            </div>
        </form>
    </div>
</div>