   <div class="container-lists">
    
    <div class="sub-container">
        <div class="bttn-links">
            <a class="bttn-add" href="/contacts/add">Adicionar contatos</a>
        </div>
        <h1>Contatos</h1>
        <div class="models-container">
            {{#each contacts}}
                <div>
                    <p><span class="bold"><a href="/contacts/contact/{{this.id}}" id="name-link">{{this.name}}</a></span></p>
                    <p class="data-p">Telefone: {{this.fone}}</p> 
                    <p class="data-p">Email: {{this.email}}</p>
                    
                </div>
            {{/each}}
        </div>
    </div>
    </div>

